@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
  margin: 0;
  padding: 0;
}
.background {
  background-color:#a5d1d3 ;
}
.cake-font {
  font-family: 'Courgette', cursive;
  font-size: 100px;
  text-align: center;
  color: #e2c166;
  text-shadow:   -2px -2px 0 #75B7BA,
  0px -2px 0 #75B7BA,
  2px -2px 0 #75B7BA,
  -2px 2px 0 #75B7BA,
  2px 2px 0 #75B7BA,
  2px 2px 0 #75B7BA;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #75B7BA;
  color: grey;
  padding: 1rem;
}
a {
  text-decoration: none;
  color:#DCCC9F;
  font-size: 20px ;
  font-weight: 600;

}
.navlink  {
list-style: none;
margin: 1rem;
}

input {
  width: 450px;
  padding: 0 0 150px 0;
  margin: 20px;
}

button {
  display: flex;
  color:hotpink;
}

p{
  padding: 10px 0px 0px 0px;
  font-weight: 600;
}

.form-container {
  padding: 50px;
  margin: 25px;
}

.recipes {
  width: 100%;
}

.recipe-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center;
}

.card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  width: auto;
}

.image {
  width: auto;
}

.information {
  padding: 5px;
}
