* {
  margin: 0;
  padding: 0;
}


input {
  width: 450px;
  padding: 0 0 200px 0;
  margin: 5px;
}

button {
  display: flex;
}

p{
  font-weight: 600;
}

.form-container {
  padding: 50px;
  margin: 25px;
}

.recipes {
  width: 100%;
}

.recipe-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: center;
}

.card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  width: auto;
}

.image {
  width: auto;
}

.information {
  padding: 5px;
}
